<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="foot" class="footer">
    <div>Copyright © 2020  吉ICP备<a href="http://www.beian.miit.gov.cn" target="_blank">20001224</a>号
        ·All Rights Reserved Powered By<a href="http://www.shiyuetian2016.com" target="_blank">十月天 </a>
    </div>
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=22020302000201" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">吉公网安备 22020302000201号</p></a>
    </div>
</div>
</body>
</html>
